
.auth_body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    display: flex;
    height: 100vh;
    font-size: 1.25rem;
}

.auth_container {
    display: flex;
    width: 100%;
}

.auth_left_section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.auth_right_section {
    width: 50%;
    background-color: #111C44;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 1.5rem;
}

.branding {
    max-width: 50%;
    text-align: center;
}

.branding_heading {
    font-size: 1.75rem;
    margin-bottom: 0.75rem;
}

.branding_para {
    font-size: 1.125rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

@media screen and (max-width: 768px) {
    .auth_container {
        flex-direction: column;
    }
    .auth_left_section {
        width: 100%;
    }
    .auh_right_section {
        display: none;
    }
}
