
.signin_box {
    width: 25rem;
}

.labels {
    color: #222222;
}

.auth_input_field {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 1.125rem;
    border: 1px solid #ccc;
    border-radius: 0.375rem;
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
}

.password_wrapper {
    position: relative;
}

.auth_options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.auth_checkbox {
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
}

.auth_forgot_password {
    color: #4F46E5;
    text-decoration: none;
    font-size: 1rem;
}

.signin_wrapper{
  margin-top: 1rem;
}

.signin_button {
    width: 100%;
    padding: 0.25rem;
    background-color: #4F46E5;
    color: #fff;
    border: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-family: 'Outfit', sans-serif;
    cursor: pointer;
}

.signup_text {
    margin-top: 1.125rem;
    font-size: 1rem;
}



